*{
	box-sizing: border-box;
	margin: 0 auto;
}
.u_logo{
	width: 10%;
}
.u_logo img{
	width: 100%;
}
.u_bg-azul{
	background-color: rgba(63, 202, 189, 1);
}
.nav-link{
	color: white;
}
.nav-link: hover{
	text-decoration: underline;
}
